@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');
html {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body,div {
    margin: 0;
    padding: 0;
}

body {
    width: 150rem;
    margin: auto;
    background-color: rgb(48, 48, 48);
}

/* 헤더 */
header {
    padding-top: 3rem;
    padding-left: 4rem;
}

#title {
    width: 30rem;
    float: left;
    /* margin-top: 3rem; */
}

/* 타이틀 */
#title svg {
    width: 13rem;
    float: left;
}

#title svg g {
    fill: rgb(255, 218, 172);
}

#titletext {
    width: 15rem;
    float: right;
    font-size: 4.5rem;
    padding-top: 3rem;
    color: white;
    font-family: 'Cormorant SC', serif;
}

/* 메뉴바 */
#menu {
    float: right;
    padding-top: 5rem;
    margin-right: 7rem;
}

#menu>ul li {
    text-align: center;
    display: block;
    float: left;
    margin: 0 5rem 1rem 0;
}

#menu>ul li:nth-child(1) {
    float: left;
}

#menu>ul li:nth-child(3) {
    float: right;
}

#menu>ul li>a {
    font-size: 2.5rem;
    text-decoration: none;
}

#menu>ul li>a:link,
:visited {
    color: white;
}

/* 바디 */
main {
    margin-top: 2rem;
    float: left;
}
img{
    width: 150rem;
}
main img{
    background: rgb(0, 145, 255);
}
main p{
    color: white;
    font-size: 3rem;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
main p:last-child{
    margin-bottom: 10rem;
}
/* 푸터 */
#footerbox{
    width: 150rem;
    height: 50rem;
    background: rgb(192, 191, 191);
    float: left;
    padding: auto;
}

/* inputbox */
#inputbox{
    width: 65rem;
    float: left;
    margin: 2rem;
}
#inputboxtext{
    font-size: 3rem;
    font-weight: bold;
}
input[type=text]{
    border: none;
    border-bottom:solid 1px gray;  
    background: transparent;
    margin-top: 2rem;
}
input[type=text]::placeholder{
    font-size: 1.5rem;
    line-height: 3rem;

}
#inputbox button{
    width: 10rem;
    height: 5rem;
    margin-top: 3rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: black;
    border-radius: .5rem;
    letter-spacing: .5rem;
}
#inputbox p:last-child{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}
#inputbox p:last-child img{
    width: 1.5rem;
    vertical-align: middle;
    padding-bottom: .2rem;
}
#inputbox p:last-child img svg g{
    fill: rgba(0, 0, 0, 0.5);
}
/* infobox */
#infobox{
    width: 35rem;
    margin-right: 5rem;
    margin-top: 1rem;
}
.icon{
    width: 5rem;
    border: solid 2px black;
    float: left;
    margin: .5rem;
}
.icon img{
    width: 5rem;
}
#infobox{
    float:  right;
}